/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #1e1e1e;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid #f5a623; /* Highlight active page */
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center; /* Center text in main */
}

/* Footer Styles */
.footer {
  background-color: #1e1e1e;
  color: #e0e0e0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; /* Change position from fixed to relative */
  width: 100vw;
  margin-top: auto;
}

/* Card Styles */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center text within cards */
}

.card h2 {
  margin-top: 0;
  color: #f5a623;
}

.card p {
  margin: 10px 0;
  font-size: 1.1em;
}

.card p span {
  font-weight: bold;
}

.summary {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  color: #e0e0e0; /* Summary text color */
}

#netWorth1,
#netWorth2,
#allocationBolero1,
#allocationCash1,
#allocationPension1,
#allocationBolero2,
#allocationCash2,
#allocationPension2 {
  font-size: 1.1em;
}

/* Combined Card Styles */
.combined-card {
  width: 660px; /* Width for combined card, twice the width of individual cards */
  margin: auto;
}

/* Total Values Card Styles */
.total-values-card {
  width: 1020px; /* Width for total values card */
  margin: auto;
  margin-bottom: 20px; /* Margin to separate from other cards */
}

@media (max-width: 768px) {
  .combined-card,
  .total-values-card {
    width: 300px; /* Adjust width for mobile devices */
  }
}
